extends layout.pug

block content
  main.articles-category
    h1 #{articles.category.name}
    section.articles-category__theme-list
      include partials/categories      
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article of articles.current
          include partials/article-card.pug
    +pagination(page, totalPages, 2, '?')