extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString('ru-RU', {day: '2-digit', month: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit'});
    }
  -
    const queryString = (query) ? query : ''
  -
    const isResultEmpty = (result.length === 0) ? true : false
  main
    section.search-page
      .search-page__wrapper(class=isResultEmpty ? 'search-page__wrapper--empty' : '')
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='text' name='query' placeholder='Что ищем?' value=`${queryString}`)
            button.search__button.button.button--transparent(type='submit') Найти
          if !isResultEmpty 
            each article of result
              .search__result
                time.search__date(datetime='') #{formatDate(article.createdAt)}
                a.search__link
                  | #{article.title} 
          else
            p.search-page__empty Ничего не нашлось
